.App {
  text-align: center;
}

.search-bar {
  margin: 30px 50px;
  text-align: center;
  border: 0;
  outline: 0;
  border-bottom: 2px solid #8b0000;
  color: black;
  border-radius: 15px;
  width: 250px;
}

.cardidea {
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
  transition: all 0.25s;
}

.cardidea:hover {
  transform: translateY(-15px);
  box-shadow: 20px 20px 20px rgba(250, 250, 250, 0.4);
}

.pokemonList {
  border-radius: 15px;
  display: grid;
  grid-gap: 25px;
  grid-auto-rows: minmax(100px, auto);
  margin: 50px 50px 0px 50px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .pokemonList {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .pokemonList {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .pokemonList {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .pokemonList {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .pokemonList {
    grid-template-columns: repeat(5, 1fr);
  }
}

.minh-100 {
  height: 100%;
  width: 100%;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}