.App {
  text-align: center;
}

.pokemonList{
  border-radius: 15px;
  display: grid;
  grid-gap: 25px;
  grid-auto-rows: minmax(100px, auto);
  margin: 50px 50px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .pokemonList{
    grid-template-columns: repeat(1, 1fr);   
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .pokemonList{
    grid-template-columns: repeat(2, 1fr);   
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .pokemonList{
    grid-template-columns: repeat(3, 1fr);   
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .pokemonList{
    grid-template-columns: repeat(4, 1fr);   
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .pokemonList{
    grid-template-columns: repeat(5, 1fr);   
  }
}

.minh-100 {
  height: 100vh;
}

.pokemon{
  display: block;
  background-color: seashell;
  text-align: center;
  margin: o auto;  
  border-radius: 25px;
  padding: 15px;
}

.pokemon p{
  margin: 4px 0;
  text-decoration: none;
}

a:-webkit-any-link{
  text-decoration: none;
}

a:-webkit-any-link:hover{
  text-decoration: none;
}

.pokeInfo{
  position: relative;
  background-color: seashell;
  background-color: rgb(236, 71, 63);
  border-radius: 15px;
  padding: 5px;
  color: seashell;
  font-weight: 500;
  top: -4px;
  height: 210px;
}

.pokeNumber{
  position: relative;
  top: -300px;
  color: black;
  font-weight: 800;
}

